/* 文字コード設定 */
@charset "UTF-8";

/* html全体のstyle設定 */
/* 文字サイズを設定 */
html {
  font-size: 100%;
}
/* body全体のstyle設定 */
/* 色、文字サイズを設定 */
/* rem:HTML要素に対する割合を設定(この場合htmlの100% * 0.9 = 90%で文字サイズを設定できる) */
body {
  color: #383e45;
  font-size: 0.9rem;
}
/* aのstyle設定 */
/* text-decoration:テキストの装飾に関する設定(noneは装飾なし) */
a {
  text-decoration: none;
}
/* imgのstyle設定 */
/* max-width:最大幅の設定 */
img {
  max-width: 100%;
}
/* liのstyle設定 */
/* list-style:リストの各行の先頭マーカーの設定(noneはマーカーなし) */
li {
  list-style:none;
}
/* header部のサイトタイトルに関するstyle設定 */
/* 幅、行間、外側余白を設定 */
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
/* サイトタイトルのaに関するstyle設定 */
/* display:要素の表示方法に関する設定(blockは要素の前後で改行) */
.site-title a {
  display: block;
}
/* 各セクションのタイトルに関するstyle設定 */
/* 要素表示方法、文字サイズ、テキスト揃え位置、外側余白(下)、 要素下線を設定*/
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

/* 各コンテンツタイトルに関するstyle設定 */
/* 文字サイズ、外側余白を設定 */
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

/* wrapper部に関するstyle設定 */
/* 最大幅、外側余白、内側余白、テキスト揃え位置を設定 */
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/* 
ヘッダー
*/

/* header部全体へのstyle設定 */
/* 要素表示方法、 flexItemの主軸方向の揃え位置、flexItemの交差軸方向の揃え位置、外側余白を設定*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
/* header部のulのstyle設定 */
/* 要素表示方法、内側余白を設定 */
#header ul {
  display: flex;
  padding: 10px 0;
}
/* header部のliのstyle設定 */
/* 左の外側余白を設定 */
#header li {
  margin-left: 30px;
}
/* header部のliのaのstyle設定 */
/* 要素の色の設定 */
#header li a {
  color: #24292e;
}
/* header部のliのaにカーソルを合わせた時のstyle設定 */
/* 要素の不透明度の設定 */
#header li a:hover{
  opacity: 0.7;
}

/* 
MainVisual
*/

/* mainVisual全体へのstyle設定 */
/* 下の外側余白を設定 */
#mainVisual {
  margin-bottom: 80px;
}
/* mainVisual部の画像へのstyle設定 */
/* 幅、最大幅、高さ、要素へのオブジェクトの配置方法を設定 */
#mainVisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/* 
About
*/

/* about部のcontentに関するstyle設定 */
/* 要素表示方法、 flexItemの主軸方向の揃え位置、flexItemの交差軸方向の揃え位置を設定 */
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* about部のimgに関するstyle設定 */
/* 幅、高さ、角の丸み、右の外側余白を設定 */
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
/* about部のtextに関するstyle設定 */
/* テキストの揃え位置を設定 */
#about text {
  text-align: center;
}

/* 
Bicycle
*/

/* bicycle部のulに関するstyle設定 */
/* 要素表示方法、 flexItemの主軸方向の揃え位置を設定 */
#bicycle ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0%;
}

/* bicycle部のliに関するstyle設定 */
/* 幅を設定 */
#bicycle li {
  width: 32%;
}

/* 
footer
*/

/* footer部のstyle設定 */
/* 文字サイズ、内側余白、テキスト揃え位置を設定 */
#footer {
  font-size: 0.5rem;
  padding: 10px;
  text-align: center;
}

/* 
SPモード
*/
@media screen and (max-width: 600px) {

  /* mainVisual */
  /* mainVisual部のimgに関するSPモード時のstyle設定 */
  /* 高さを設定 */
  /* vh:ビューポートの高さに対する割合 */
  #mainVisual img {
    height: calc(100vh - 60px)
  }

  /* about */
  /* about部のcontentに関するSPモード時のstyle設定 */
  /* flexコンテナの主軸の向きを設定 */
  /* column:主軸の向きを積み重なるように設定(交差軸を主軸に設定) */
  #about .content {
    flex-direction: column;
  }
  /* about部のimgに関するSPモード時のstyle設定 */
  /* 右の外側余白を設定 */
  #about img {
    margin-right: 0;
  }

  /* bicycle */
  /* bicycle部のulに関するSPモード時のstyle設定 */
  /* flexコンテナの主軸の向きを設定 */
  #bicycle ul {
    flex-direction: column;
  }
  /* bicycle部のliに関するSPモード時のstyle設定 */
  /* 幅、下の外側余白を設定 */
  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}
